{% extends 'base.html' %}

{% block title %}
Team
{% endblock title %}

{% block body %}
<h1>Team</h1>

<div id="user">
    <h3>Archer Heffern</h3>
    <p>index, form pages + routes. Configured project structure and setup, including a virtual environment. Custom styles. Wrote a README.md file that provides clear instructions on how to use the project. held meetings</p>
</div>
<div id="user">
    <h3>Paras Pandey</h3>
    <p>I completed the about page and added somne inforamtions in the page</p>
</div>
<div id="user">
    <h3>Efen Haskell</h3>
    <p>I added a prompt to the repl page and put extra information in the about page.</p>
</div>
<div id="user">
    <h3>Samir Rajani</h3>
    <p>I completed code for the prompt and added to the team page</p>
</div>
<div id="user">
    <h3>Kelden Dorji</h3>
    <p>I completed ___ and did ___</p>
</div>
{% endblock body %}
